/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1467 {
    /* 200px - 350px top - leaving extra space for the navigation */
    /* 100px - 200px bottom */
    padding: clamp(12.5rem, 25.95vw, 12.875em) 1rem clamp(6.25rem, 7vw, 12.5rem);
    position: relative;
    z-index: 1;
  }
  #hero-1467 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  #hero-1467 .cs-content {
    text-align: center;
    width: 100%;
    max-width: 35.625rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }
  #hero-1467 .cs-flex {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }
  #hero-1467 .cs-title {
    /* 39px - 49px */
    font-size: clamp(2.4375rem, 6.4vw, 3.0625rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 51.8125rem;
    color: #fff;
    position: relative;
    z-index: 1;
  }
  #hero-1467 .cs-title:before {
    content: "";
    width: 3.75rem;
    height: 8px;
    margin: 0 auto 2rem;
    background: var(--primary);
    border-radius: 8px;
    opacity: 1;
    display: block;
  }
  #hero-1467 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.95vw, 1.25rem);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    /* 464px - 622px */
    max-width: clamp(29rem, 60vw, 38.785rem);
    margin: 0;
    margin-bottom: 2rem;
    color: #fff;
  }
  #hero-1467 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 12.5rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 3.125rem;
    overflow: hidden;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #hero-1467 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-1467 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-1467 .cs-reviews {
    /* 40px - 80px */
    margin-top: clamp(2.5rem, 6vw, 5rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    border-radius: 0.75rem;
    box-shadow: 0px 8px 100px 0px rgba(0, 0, 0, 0.08);
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /* 8px - 16px */
    gap: clamp(0.5rem, 2vw, 1rem);
    position: relative;
    z-index: -1;
  }
  #hero-1467 .cs-reviews-flex {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #hero-1467 .cs-stars {
    margin: 0 0 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }
  #hero-1467 .cs-icon {
    width: 1rem;
    height: auto;
  }
  #hero-1467 .cs-desc {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    max-width: 20ch;
    margin: 0;
    color: #f7f7f7;
  }
  #hero-1467 .cs-reviews-img {
    width: 3rem;
    height: auto;
    margin: 0 -1rem 0 0;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #fff;
  }
  #hero-1467 .cs-reviews-number {
    font-size: 1rem;
    font-weight: 700;
    width: 3rem;
    height: 3rem;
    background-color: var(--secondary);
    color: var(--bodyTextColorWhite);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hero-1467 .cs-right {
    text-align: center;
    width: 100%;
    /* 16px - 48px left & right */
    /* 32px - 48px top & bottom */
    padding: clamp(2rem, 5vw, 3rem) clamp(1rem, 4vw, 3rem);
    box-sizing: border-box;
    border-radius: 1.5rem;
    border-top: 8px solid var(--primary);
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #hero-1467 .cs-tag {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.75rem;
    padding: 0 2rem 0 1.75rem;
    overflow: hidden;
    color: var(--bodyTextColorWhite);
    border-radius: 2.5rem;
    display: inline-block;
    position: absolute;
    top: 0.5rem;
    right: 0;
    z-index: 1;
    transform: rotate(14deg);
    transform-origin: right;
  }
  #hero-1467 .cs-tag:before {
    /* background color */
    content: "";
    height: 100%;
    background: var(--secondary);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 20px;
    z-index: -1;
  }
  #hero-1467 .cs-tag:after {
    /* triangle */
    content: "";
    width: 1.5625rem;
    height: 1.5625rem;
    background-color: var(--secondary);
    opacity: 1;
    overflow: hidden;
    position: absolute;
    display: block;
    top: 50%;
    right: 0.375rem;
    z-index: -1;
    transform: translateY(-50%) rotate(45deg);
  }
  #hero-1467 .cs-dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 0.9375rem;
    top: 50%;
    transform: translateY(-50%);
  }
  #hero-1467 .cs-h3 {
    /* 31px - 39px */
    font-size: clamp(1.9375rem, 4vw, 2.4375rem);
    font-weight: 900;
    text-align: inherit;
    max-width: 20ch;
    margin: 0 0 0.5rem 0;
    color: var(--headerColor);
  }
  #hero-1467 .cs-expires {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0 0 1rem 0;
    color: var(--secondary);
    display: block;
  }
  #hero-1467 .cs-form-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0 0 1.5rem 0;
    color: var(--bodyTextColor);
  }
  #hero-1467 .cs-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
  #hero-1467 .cs-label {
    font-size: 0.875rem;
    width: 100%;
    color: #767676;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #hero-1467 .cs-input, #hero-1467 select {
    font-size: 1rem;
    width: 100%;
    height: 3.5rem;
    padding: 0;
    padding-left: 1.5rem;
    color: var(--bodyTextColor);
    background-color: #f7f7f7;
    border: none;
    border-radius: 0.5rem;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    transition: border-color 0.3s;
  }
  #hero-1467 .cs-input:hover, #hero-1467 select:hover {
    border-color: var(--secondary);
  }
  #hero-1467 .cs-input:focus, #hero-1467 select:focus {
    outline: 1px solid var(--secondary);
  }
  #hero-1467 .cs-input::placeholder, #hero-1467 select::placeholder {
    color: #7d799c;
    opacity: 0.6;
  }
  #hero-1467 .cs-textarea {
    min-height: 5.9375rem;
    padding-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-family: inherit;
  }
  #hero-1467 .cs-submit {
    text-transform: uppercase;
    width: 100%;
    margin: 0 0 1rem 0;
    border: none;
  }
  #hero-1467 .cs-submit:hover {
    cursor: pointer;
  }
  #hero-1467 .cs-disclaimer {
    font-size: 0.875rem;
    text-align: left;
    line-height: 1.5em;
    margin: 0 auto 0 0;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #hero-1467 .cs-disclaimer-icon {
    width: 1.25rem;
    height: auto;
  }
  #hero-1467 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-1467 .cs-background:before {
    /* Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    opacity: 0.65;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
  }
  #hero-1467 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1467 .cs-form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  #hero-1467 .cs-label {
    grid-column: span 12;
  }
  #hero-1467 .cs-label:nth-of-type(1), #hero-1467 .cs-label:nth-of-type(2), #hero-1467 .cs-label:nth-of-type(3), #hero-1467 .cs-label:nth-of-type(4) {
    grid-column: span 6;
  }
  #hero-1467 .cs-submit {
    grid-column: span 12;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-1467 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  #hero-1467 .cs-right {
    align-items: flex-start;
  }
  #hero-1467 .cs-title:before {
    margin-left: 0;
  }
  #hero-1467 .cs-content {
    text-align: left;
    align-items: flex-start;
  }
  #hero-1467 .cs-flex {
    text-align: left;
    align-items: flex-start;
  }
}
/* Desktop Parallax Effect - 1600px */
@media only screen and (min-width: 100rem) {
  #hero-1467 {
    background: url("/assets/images/hero-background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  #hero-1467 .cs-background img {
    display: none;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1083 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;
  }
  #services-1083 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1083 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-1083 .cs-title {
    max-width: 20ch;
  }
  #services-1083 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: stretch;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-1083 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: span 12;
    position: relative;
    z-index: 1;
  }
  #services-1083 .cs-item:hover .cs-picture:before {
    opacity: 0.8;
  }
  #services-1083 .cs-item:hover .cs-picture img {
    transform: scale(1.2);
  }
  #services-1083 .cs-item:hover .cs-h3 {
    background-color: var(--primary);
  }
  #services-1083 .cs-picture {
    width: 100%;
    /* 180px - 240px */
    height: clamp(11.25rem, 24vw, 15rem);
    /* clips the image from overflowing parent on hover */
    overflow: hidden;
    display: block;
    position: relative;
  }
  #services-1083 .cs-picture:before {
    /* black hover overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
  }
  #services-1083 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.65s;
  }
  #services-1083 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.5em;
    font-weight: 700;
    text-align: inherit;
    width: 100%;
    margin: 0;
    /* 12px - 16px top & Bottom */
    /* 16px - 24px left & right */
    padding: clamp(0.75rem, 1.6vw, 1rem) clamp(1rem, 2.5vw, 1.5rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: #1a1a1a;
    color: var(--bodyTextColorWhite);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* 8px - 16px */
    gap: clamp(0.5rem, 1.5vw, 1rem);
    transition: background-color 0.3s;
  }
  #services-1083 .cs-item-text {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    margin: 0 0 1.25rem;
    /* 16px - 24px */
    padding: clamp(1rem, 2.5vw, 1.25rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding-bottom: 0;
    color: var(--bodyTextColor);
  }
  #services-1083 .cs-link {
    font-size: 1rem;
    line-height: 1.2em;
    text-align: inherit;
    text-decoration: none;
    font-weight: 700;
    /* 16px - 24px */
    margin: 0 0 clamp(1rem, 2.5vw, 1.5rem) clamp(1rem, 2.5vw, 1.5rem);
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #services-1083 .cs-link:hover .cs-arrow {
    transform: translateX(0.25rem);
  }
  #services-1083 .cs-arrow {
    width: 1.25rem;
    height: auto;
    display: block;
    transition: transform 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1083 .cs-container {
    max-width: 80rem;
  }
  #services-1083 .cs-item {
    grid-column: span 6;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1083 .cs-item {
    grid-column: span 4;
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-1672 {
    padding: var(--sectionPadding);
  }
  #reviews-1672 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 40px - 64px */
    gap: clamp(2.5rem, 4.5vw, 4rem);
  }
  #reviews-1672 .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #reviews-1672 .cs-title {
    margin: 0rem;
  }
  #reviews-1672 .cs-card-group {
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #reviews-1672 .cs-item {
    list-style: none;
    width: 100%;
    /* 20px - 40px top & bottom */
    /* 20px - 40px left & right */
    padding: clamp(1.25rem, 3.15vw, 2.5rem) clamp(1.25rem, 3.15vw, 2.5rem);
    background-color: #f7f7f7;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    display: flex;
    grid-column: span 12;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    /* 24px - 48px */
    gap: clamp(1.5rem, 4vw, 1.5rem);
  }
  #reviews-1672 .cs-flex-group {
    /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
    margin-top: auto;
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #reviews-1672 .cs-profile {
    width: 3.25rem;
    height: auto;
    border-radius: 50%;
    position: relative;
    display: block;
  }
  #reviews-1672 .cs-profile img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes the image behave like a background image */
    object-fit: cover;
  }
  #reviews-1672 .cs-name {
    /* 20px - 25px */
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
    margin-top: auto;
    color: var(--headerColor);
    display: block;
  }
  #reviews-1672 .cs-job {
    /* 14px - 16px */
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #reviews-1672 .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #reviews-1672 .cs-item-stars {
    width: 6.75rem;
    height: auto;
  }
  #reviews-1672 .cs-review {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1.25rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    z-index: 1;
  }
  #reviews-1672 .cs-quote {
    width: 5.375rem;
    height: auto;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    z-index: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-1672 .cs-item {
    grid-column: span 4;
  }
}
/*-- -------------------------- -->
<---       Areas We Serve       -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #areas-serve-1201 {
    padding: var(--sectionPadding);
    background-color: #fff;
  }
  #areas-serve-1201 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #areas-serve-1201 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #areas-serve-1201 .cs-title {
    max-width: 20ch;
  }
  #areas-serve-1201 .cs-text {
    max-width: 40rem;
  }
  #areas-serve-1201 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: stretch;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #areas-serve-1201 .cs-item {
    text-align: center;
    list-style: none;
    width: 100%;
    padding: clamp(2rem, 5vw, 3rem) clamp(1rem, 3vw, 2rem);
    background-color: #f7f7f7;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 12;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  #areas-serve-1201 .cs-item:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  }
  #areas-serve-1201 .cs-icon-wrapper {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 50%;
    color: #fff;
  }
  #areas-serve-1201 .cs-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  #areas-serve-1201 .cs-h3 {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #areas-serve-1201 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #areas-serve-1201 .cs-container {
    max-width: 80rem;
  }
  #areas-serve-1201 .cs-item {
    grid-column: span 6;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #areas-serve-1201 .cs-item {
    grid-column: span 4;
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-1897 {
    padding: var(--sectionPadding);
    /* stops the cs-graphics from causing an overflow */
    overflow: hidden;
    position: relative;
  }
  #gallery-1897 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #gallery-1897 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    z-index: 1;
  }
  #gallery-1897 .cs-title {
    max-width: 25ch;
    margin: 0;
  }
  #gallery-1897 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    background-color: var(--secondary);
    overflow: hidden;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #gallery-1897 .cs-button-solid:before {
    content: "";
    width: 0;
    height: 100%;
    background: #000;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #gallery-1897 .cs-button-solid:hover {
    color: #fff;
  }
  #gallery-1897 .cs-button-solid:hover:before {
    width: 100%;
  }
  #gallery-1897 .cs-gallery {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
    z-index: 1;
  }
  #gallery-1897 .cs-item {
    width: 100%;
    /* 16px - 32px */
    padding: clamp(1rem, 4vw, 2rem);
    background-color: #faf6f2;
    /* 16px - 32px */
    border-radius: 1rem;
    display: grid;
    /* 8px - 16px */
    column-gap: clamp(0.5rem, 2vw, 1rem);
    row-gap: 1rem;
  }
  #gallery-1897 .cs-item-text {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--headerColor);
    grid-column: span 2;
  }
  #gallery-1897 .cs-picture-group {
    /* 160px - 320px */
    min-height: clamp(10rem, 23vw, 20rem);
    overflow: hidden;
    border-radius: 1rem;
    grid-column: span 1;
    position: relative;
  }
  #gallery-1897 .cs-picture {
    width: 100%;
    height: 100%;
    display: block;
  }
  #gallery-1897 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #gallery-1897 .cs-tag {
    font-size: 0.875rem;
    line-height: 1.5em;
    padding: 0.25rem 0.75rem;
    background: rgba(0, 0, 0, 0.24);
    color: var(--bodyTextColorWhite);
    border: 1px solid var(--bodyTextColorWhite);
    border-radius: 1.875rem;
    position: absolute;
    /* 8px - 16px */
    bottom: clamp(0.5rem, 2vw, 1rem);
    left: clamp(0.5rem, 2vw, 1rem);
    backdrop-filter: blur(8px);
  }
  #gallery-1897 .cs-graphic {
    /* 500px - 835px */
    width: clamp(31.25rem, 60vw, 52.1875rem);
    /* 453px - 757px */
    height: clamp(28.3125rem, 55vw, 47.3125rem);
    object-fit: cover;
    position: absolute;
    z-index: 0;
  }
  #gallery-1897 .cs-graphic-top {
    top: 0;
    right: -8.875rem;
  }
  #gallery-1897 .cs-graphic-bottom {
    bottom: 0;
    left: 0;
  }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
  #gallery-1897 .cs-content {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  #gallery-1897 .cs-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  #gallery-1897 .cs-graphic-top {
    right: -8.375rem;
    transform: initial;
  }
  #gallery-1897 .cs-graphic-bottom {
    left: -7.5rem;
    transform: initial;
  }
}
/* Desktop - 1600px */
@media only screen and (min-width: 100rem) {
  #gallery-1897 .cs-graphic-top {
    margin-left: 15rem;
    left: 50%;
  }
  #gallery-1897 .cs-graphic-bottom {
    margin-right: 16.25rem;
    right: 50%;
    left: initial;
  }
}

/*# sourceMappingURL=critical.css.map */
